## A. User-defined Function

#### Q1) Write a function that takes a list of numbers and returns the list of their squares.

In [158]:
def square_list(numbers):
    return [num * num for num in numbers]

In [159]:
nums = [1, 2, 3, 4]
result = square_list(nums)
print(result)

[1, 4, 9, 16]

#### Q2) Create a function that takes a string and counts the number of vowels.

In [161]:
def count_vowels(string):
    vowels = 'aeiouAEIOU'
    return sum(1 for char in string if char in vowels)

In [162]:
A = "Aniket Dhuke"
result = count_vowels(A)
print(result)

5

#### Q3) Define a function that accepts a number and returns True if it’s an Armstrong number.

In [164]:
def is_armstrong(number):
    num_str = str(number)
    num_digits = len(num_str)
    total = sum(int(digit) ** num_digits for digit in num_str)
    return total == number

In [165]:
print(is_armstrong(153))  
print(is_armstrong(370))  
print(is_armstrong(123))

True
True
False

#### Q4) Write a function that accepts a list of names and returns names that start with the letter ‘S’.

In [167]:
def filter_s_names(names):
    return [name for name in names if name.startswith('S') or name.startswith('s')]

In [168]:
names = ["Sam", "John", "Samarth", "Sanika", "Anna"]
result = filter_s_names(names)
print(result)

['Sam', 'Samarth', 'Sanika']

#### Q5) Create a function that accepts two numbers and returns their HCF (Highest Common Factor).

In [170]:
def find_hcf(a, b):
    while b:
        a, b = b, a % b
    return a

In [171]:
print(find_hcf(48, 18))  
print(find_hcf(54, 24)) 
print(find_hcf(7, 13))

6
6
1

## B. Lambda Function

#### Q1) Write a lambda function to check if a number is divisible by 5.

In [174]:
is_divisible_by_5 = lambda x: x % 5 == 0

In [175]:
print(is_divisible_by_5(10))  
print(is_divisible_by_5(7))

True
False

#### Q2) Use a lambda to convert temperature from Celsius to Fahrenheit.

In [177]:
c_to_f = lambda c: (c * 9/5) + 32

In [178]:
print(c_to_f(0))   
print(c_to_f(100))

32.0
212.0

#### Q3) Create a lambda function that returns the cube of a number.

In [180]:
cube = lambda x: x ** 3

In [181]:
print(cube(2))  
print(cube(5))

8
125

#### Q4) Write a lambda function to add of two strings.

In [183]:
concat_strings = lambda str1, str2: str1 + str2

In [184]:
print(concat_strings("Aniket", "Dhuke"))  
print(concat_strings("Good", "Morning"))

AniketDhuke
GoodMorning

#### Q5) Use a lambda to check if the length of a string is greater than 8.

In [186]:
is_long_string = lambda s: len(s) > 8

In [187]:
print(is_long_string("Hello Python"))   
print(is_long_string("District Pune"))

True
True

## C. Filter Function

#### Q1) Use filter() to get all strings with length greater than 4 from a list.

In [190]:
strings = ["cat", "dog", "elephant", "rat","bird"]
long_strings = list(filter(lambda s: len(s) > 4, strings))

In [191]:
print(long_strings)

['elephant']

#### Q2) Use filter() to extract numbers greater than 100 from a list.

In [193]:
numbers = [50, 150, 75, 200, 90, 300]
large_numbers = list(filter(lambda x: x > 100, numbers))

In [194]:
print(large_numbers)

[150, 200, 300]

#### Q3) Write a program to filter all odd numbers from a list using a lambda.

In [196]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odd_numbers = list(filter(lambda x: x % 2 != 0, numbers))
print(odd_numbers)

[1, 3, 5, 7, 9]

#### Q4) Use filter() to find names that end with the letter ‘a’.

In [198]:
names = ["Anna", "Aditi", "Anita", "Aniket", "Ankita", "Rutuja"]
a_ending_names = list(filter(lambda name: name.lower().endswith('a'), names))
print(a_ending_names)

['Anna', 'Anita', 'Ankita', 'Rutuja']

#### Q5) Filter out all elements that are not integers from a mixed list.

In [200]:
mixed_list = [1, "hello", 2.5, 3, True, 4, "world", 5.0]
integers_only = list(filter(lambda x: isinstance(x, int), mixed_list))
print(integers_only)

[1, 3, True, 4]

## D. Format Function

#### Q1.Format and print: "Student {name} scored {marks} marks in {subject}".

In [203]:
name = "Aniket"
marks = 95
subject = "Math"

formatted_string = "Student {} scored {} marks in {}".format(name, marks, subject)
print(formatted_string)

Student Aniket scored 95 marks in Math

## E. Map Function

#### Q1) Use map() to convert a list of integers into their squares.

In [206]:
numbers = [1, 2, 3, 4, 5]
squares = list(map(lambda x: x**2, numbers))
print(squares)

[1, 4, 9, 16, 25]

#### Q2) Apply map() to convert a list of strings to uppercase.

In [208]:
words = ["hello", "aniket", "dhuke"]
uppercase = list(map(str.upper, words))
print(uppercase)

['HELLO', 'ANIKET', 'DHUKE']

#### Q3) Use map() with lambda to subtract 2 from every number in a list.

In [210]:
numbers = [1, 2, 3, 4, 5]
result = list(map(lambda x: x - 2, numbers))
print(result)

[-1, 0, 1, 2, 3]

#### Q4) Use map() to get the length of each word in a sentence.`

In [212]:
sentence = "The quick brown fox"
words = sentence.split()
lengths = list(map(len, words))
print(lengths)

[3, 5, 5, 3]

#### Q5) Apply map() to multiply each element of a list by its index.

In [249]:
numbers = [2, 4, 6, 8]
result = list(map(lambda pair: pair[0] * pair[1], enumerate(numbers)))
print(result)

[0, 4, 12, 24]