## Section 1: if, if-else, if-elif-else

#### Q1) Write a Python program to check if a number is positive using if statement.

In [69]:
number=int(input("Enter Number :"))
if number > 0:
    print ("Number is Positive")

Enter Number : 5

Number is Positive

#### Q2) Write a program to check whether a person is eligible to vote using if-else.

In [77]:
age=int(input("Enter Age:"))
if age > 18:
     print ("person is eligible to vote")
else:
    print("person is not eligible for vote ")

Enter Age: 54

person is eligible to vote

#### Q3) Check whether a number is positive, negative, or zero using if-elif-else.

In [79]:
num = int(input("Enter a number: "))
if num > 0:
    print("The number is positive")
elif num < 0:
    print("The number is negative")
else:
    print("The number is zero")

Enter a number:  4

The number is positive

#### Q4) Take input marks and print "Pass" if marks >= 35, otherwise "Fail".

In [81]:
marks=int(input("Enter your mark:"))
if marks >= 35:
    print("You are Pass")
else:
    print("You are Fail")

Enter your mark: 85

You are Pass

#### Q5) Write a program that takes a number and checks:

If divisible by 3 → print "Divisible by 3"

Else if divisible by 5 → print "Divisible by 5"

Else → print "Not divisible by 3 or 5"

In [83]:
num = int(input("Enter a number: "))
if num % 3 == 0:
    print("Divisible by 3")
elif num % 5 == 0:
    print("Divisible by 5")
else:
    print("Not divisible by 3 or 5")

Enter a number:  5

Divisible by 5

#### Own Questions

#### Question 1: Check if a Number is Positive

In [7]:
num = int(input("Enter a number: "))
if num > 0:
    print("Positive")

Enter a number:  8

Positive

#### Question 2: Determine if a Number is Even or Odd

In [12]:
num = int(input("Enter an integer: "))
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter an integer:  4

Even

#### Question 3: Assign a Grade Based on a Marks

In [16]:
Marks = int(input("Enter a score (0-100): "))
if Marks >= 90:
    grade = "A"
elif Marks >= 80:
    grade = "B"
elif Marks >= 70:
    grade = "C"
elif Marks >= 60:
    grade = "D"
else:
    grade = "F"
print(f"Your grade is: {grade}")

Enter a score (0-100):  45

Your grade is: F

#### Question 5: Determine the Type of Triangle

In [23]:
a = int(input("Enter first side length: "))
b = int(input("Enter second side length: "))
c = int(input("Enter third side length: "))

if a == b and b == c:
    print("Equilateral triangle")
elif a == b or b == c or a == c:
    print("Isosceles triangle")
else:
    print("Scalene triangle")

Enter first side length:  10
Enter second side length:  10
Enter third side length:  10

Equilateral triangle

##  Section 2: for Loop

#### Q1) Print numbers from 1 to 10 using a for loop

In [85]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

#### Q2) Print all even numbers from 1 to 50 using for.

In [102]:
for i in range(2, 50,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

#### Q3) Print the multiplication table of a given number.

In [105]:
num = int(input("Enter a number: "))
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter a number:  40

40 x 1 = 40
40 x 2 = 80
40 x 3 = 120
40 x 4 = 160
40 x 5 = 200
40 x 6 = 240
40 x 7 = 280
40 x 8 = 320
40 x 9 = 360
40 x 10 = 400

#### Q4) Find the factorial of a number using a for loop

In [110]:
num = int(input("Enter a number: "))
factorial = 1
if num < 0:
    print("Factorial is not defined for negative numbers")
else:
    for i in range(1, num + 1):
        factorial *= i
    print(f"The factorial of {num} is {factorial}")

Enter a number:  5

The factorial of 5 is 120

#### Q5) Count how many vowels are in a given string.

In [117]:
text = input("Enter a string: ")
vowels = "aeiouAEIOU"
count = 0
for char in text:
    if char in vowels:
        count += 1
print(f"Number of vowels: {count}")

Enter a string:  4

Number of vowels: 0

## Own Questions

#### Q1)Print all even numbers from 1 to 20.

In [30]:
for i in range(1, 21):
    if i % 2 == 0:
        print(i, end=' ')

2 4 6 8 10 12 14 16 18 20

#### Q2) Calculate the sum of numbers from 1 to 100

In [33]:
total = 0
for i in range(1, 101):
    total += i
print("Sum:", total)

Sum: 5050

#### Q3) Print each character in the string "Python" on a new line.

In [36]:
word = "Python"
for char in word:
    print(char)

P
y
t
h
o
n

#### Q4) Print the multiplication table of 5 (up to 10).

In [39]:
for i in range(1, 11):
    print(f"5 x {i} = {5 * i}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

#### Q5) Create a list of squares of numbers from 1 to 10 using a for loop.

In [42]:
squares = []
for i in range(1, 11):
    squares.append(i ** 2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Section 3: while Loop

#### Q1) Print numbers from 1 to 10 using a while loop.

In [122]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

#### Q2) Print the sum of numbers until the user enters 0.

In [125]:
total = 0
while True:
    num = int(input("Enter a number (0 to stop): "))
    if num == 0:
        break
    total += num
print(f"Sum of numbers: {total}")

Enter a number (0 to stop):  52
Enter a number (0 to stop):  1
Enter a number (0 to stop):  0

Sum of numbers: 53

#### Q3)Reverse a given number using while loop.

In [130]:
num = int(input("Enter a number: "))
reversed_num = 0
while num > 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10
print(f"Reversed number: {reversed_num}")

Enter a number:  78

Reversed number: 87

#### Q4) Count digits of a number using while.

In [135]:
num = int(input("Enter a number: "))
count = 0
if num == 0:
    count = 1
else:
    while num != 0:
        num //= 10
        count += 1
print(f"Number of digits: {count}")

Enter a number:  10

Number of digits: 2

#### Q5) Print Fibonacci series up to n terms using while.

In [166]:
n = int(input("Enter the number of terms: "))
a, b = 0, 1
count = 0
while count < n:
    print(a, end=" ")
    a, b = b, a + b
    count += 1

Enter the number of terms:  1

0

## Own Questions

#### Q1) Print numbers from 1 to 5 using a while loop.

In [46]:
i = 1
while i <= 5:
    print(i, end=' ')
    i += 1

1 2 3 4 5

#### Q2) Calculate the factorial of a number (e.g., 5).

In [49]:
n = 5
factorial = 1
while n > 0:
    factorial *= n
    n -= 1
print("Factorial:", factorial)

Factorial: 120

#### Q3) Sum all even numbers from 1 to 20

In [52]:
i = 1
total = 0
while i <= 20:
    if i % 2 == 0:
        total += i
    i += 1
print("Sum of even numbers:", total)

Sum of even numbers: 110

#### Q4) Reverse the digits of a number (e.g., 1234 → 4321).

In [55]:
num = 1234
reverse = 0
while num > 0:
    digit = num % 10
    reverse = reverse * 10 + digit
    num //= 10
print("Reversed:", reverse)

Reversed: 4321

## Section 4: Control Statements (break, continue, pass).

### Q1) Print numbers 1 to 10, but stop if number is 5 (break).

In [144]:
for i in range(1, 11):
    if i == 5:
        break
    print(i)

1
2
3
4

#### Q2) Print numbers 1 to 10, but skip 5 (continue).

In [149]:
for i in range(1, 11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

#### Q3) Use pass statement inside a loop and explain its purpose.

In [172]:
for i in range(1, 11):
    if i % 2 == 0:
        pass  # Placeholder, does nothing
    else:
        print(i)

1
3
5
7
9

#### Expalination
He pass statement in Python does nothing and acts as a placeholder. 

It’s used when Python expects code, but you don’t want to do anything yet. 

In the example, pass is used for even numbers, so the loop skips them without doing anything, while odd numbers are printed. 

It’s handy during coding to avoid errors when you plan to add code later or need an empty block.

#### Q4) Search a number in a list. If found, print and break loop.

In [177]:
numbers = [4, 7, 2, 9, 1, 5]
search_num = int(input("Enter a number to search: "))
for num in numbers:
    if num == search_num:
        print(f"Number {search_num} found")
        break
else:
    print(f"Number {search_num} not found")

Enter a number to search:  4

Number 4 found

#### Q5) Use continue to print only odd numbers from 1 to 20.

In [164]:
for i in range(1, 21):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9
11
13
15
17
19

## Own Questions

#### Q1)Use break
Find the first number divisible by 7 between 1 and 20 and stop the loop when found.

In [60]:
for i in range(1, 21):
    if i % 7 == 0:
        print("First number divisible by 7:", i)
        break

First number divisible by 7: 7

#### Q2) Use continue
Print numbers from 1 to 10, skipping even numbers.

In [63]:
for i in range(1, 11):
    if i % 2 == 0:
        continue
    print(i, end=' ')

1 3 5 7 9

#### Q3) Use pass
Check characters in a string and use pass to ignore spaces.

In [68]:
text = "Hello World"
for char in text:
    if char == ' ':
        pass  # Do nothing on space
    else:
        print(char, end=' ')

H e l l o W o r l d

#### Q4) Use break in while
Ask the user to enter numbers until they enter a negative number, then break.

In [71]:
while True:
    num = int(input("Enter a number (negative to quit): "))
    if num < 0:
        print("Loop exited.")
        break
    print("You entered:", num)

Enter a number (negative to quit):  -12

Loop exited.

#### Q5) continue with while
Print numbers from 1 to 10, skipping multiples of 3.

In [74]:
i = 0
while i < 10:
    i += 1
    if i % 3 == 0:
        continue
    print(i, end=' ')

1 2 4 5 7 8 10